{{!< default}}

<section class="intro">
	<h1>Hi, I'm Luke</h1>
    <h4>I <a href="/software-projects">make</a> and <a href="/security-research">break</a> Software.</h4>
	<hr />
	<p>I'm a 17 year old high school student fascinated with Software Development and Security Research.</p>
    <p>You can find information about my current employment on my <a href="http://lnkd.in/bUn9C9M">LinkedIn</a> and the some of the projects I've worked on, like this site, via my <a href="https://github.com/innoying">Github</a>.</p>
</section>
